<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" >
</head>
<body>
    <!-- 네비게이션바 -->
    <nav th:replace="~{navbar :: navbar_above}"></nav>
    <!-- Bootstrap JS, bootstrap.min.js파일을 가져옴 -->
    <script  th:src="@{/bootstrap.min.js}"></script>
    <!-- 기본 템플릿에 삽입되는 내용 -->
  <th:block layout:fragment="content"></th:block>  
    <!-- Javascript -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>